/*****Boton*****/

.boton .btn{
    background: teal;
    border-radius: 5px;

}

.boton a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 15px 10px;
    margin: 0px;
    width: 90px;
    margin:0 auto;
    text-align: center;
    
}
